@font-face {
  font-family: Ubuntu-Medium;
  src: url("assets/fonts/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: Ubuntu-Bold;
  src: url("assets/fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: Ubuntu-Regular;
  src: url("assets/fonts/Ubuntu-Regular.ttf");
}
* {
  font-family: Ubuntu-Regular;
  color: #858483;
  box-sizing: inherit;
  margin: 0px;
  margin: inherit;
}

h1 {
  font-family: Ubuntu-Bold;
  font-size: 24px;
  color: hsl(213, 96%, 18%);
}

body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-family: Ubuntu-Medium, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: hsl(213, 96%, 18%);
}

#bold {
  color: hsl(213, 96%, 18%);
  font-size: 16px;
  font-family: Ubuntu-Medium;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  top: 0px;
  bottom: 0px;
  top: 0px;
  position: absolute;
  background-color: #e9f4ff;
}

#sidebar-text {
  display: none;
}

.sidebar {
  font-family: Ubuntu-Medium;
  font-weight: 770;
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
}
.sidebar button {
  color: hsl(0, 0%, 100%);
  border: solid 1px;
  height: 25px;
  width: 25px;
  margin: 40px 5px;
  border-radius: 50%;
  padding: 0px;
  background: none;
}
.sidebar [current=true] {
  background-color: hsl(206, 94%, 87%);
  border-color: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
}

#input-area-text {
  padding-bottom: 0px;
}

.form-container {
  box-shadow: 0px 31px 75px -3px rgba(0, 0, 0, 0.14);
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 120px;
  width: 80%;
  align-self: center;
  background-color: hsl(0, 0%, 100%);
  display: flex;
}

#text p {
  font-size: 12px;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.form-content > * {
  padding: 10px 0px;
}
.form-content #check, .form-content #checked, .form-content #check:hover, .form-content #checked:hover {
  display: flex;
  flex-direction: center;
  justify-content: row;
  align-items: flex-start;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background: none;
  padding: 10px 10px;
  margin: 10px 0px;
}
.form-content #check > *, .form-content #checked > *, .form-content #check:hover > *, .form-content #checked:hover > * {
  margin: 0px;
}
.form-content button div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form-content #checked, .form-content #check:hover, .form-content #checked:hover {
  border: 1px solid hsl(213, 96%, 18%);
}
.form-content #check div, .form-content #checked div, .form-content #check:hover div, .form-content #checked:hover div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 50px;
  padding: 0px;
}
.form-content #check img, .form-content #checked img, .form-content #check:hover img, .form-content #checked:hover img {
  padding-right: 10px;
}
.form-content #labelcheck, .form-content #labelchecked, .form-content #labelcheck:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background: none;
  height: 40px;
}
.form-content #labelcheck div, .form-content #labelchecked div, .form-content #labelcheck:hover div {
  display: flex;
  flex-direction: row;
}
.form-content #labelcheck #text, .form-content #labelchecked #text {
  flex-direction: column;
  justify-content: center;
  margin: 3px 5px;
}
.form-content #labelcheck #checkbox, .form-content #labelchecked #checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  border: 1px solid lightgrey;
}
.form-content #labelcheck #checkbox img, .form-content #labelchecked #checkbox img {
  height: 15px;
  width: 15px;
}
.form-content #labelchecked, .form-content #labelcheck:hover, .form-content #labelchecked:hover {
  border: 1px solid hsl(213, 96%, 18%);
}
.form-content #labelchecked #checkbox {
  background-image: url("assets/images/icon-checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: hsl(243, 100%, 62%);
  border: none;
}
.form-content input {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  width: calc(100% - 20px);
}
.form-content #error {
  border-color: hsl(354, 84%, 57%);
}

.input-area-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0px;
}
.input-area-text p {
  color: hsl(213, 96%, 18%);
  font-size: 12px;
}

#red {
  color: hsl(354, 84%, 57%);
}

.toggle-area {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: justify-content 0.5s ease;
}
.toggle-area #toggle {
  display: flex;
  border-radius: 12px;
  height: 16px;
  padding: 3px;
  margin: 0px 30px;
  width: 35px;
  background-color: hsl(213, 96%, 18%);
  justify-content: flex-start;
}
.toggle-area #toggle #bob {
  margin: 0px;
  align-self: center;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background-color: #fff;
}

.go-back {
  border: none;
  background: none;
  color: grey;
  text-decoration: underline;
  cursor: pointer;
}
.go-back:hover {
  transition: text-decoration 0.5s ease-in-out;
  text-decoration: none;
}

#nav {
  position: fixed;
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#nav #next-btn, #nav #confirm, #nav .form-content #check, .form-content #nav #check, #nav .form-content #checked, .form-content #nav #checked {
  padding: 10px 20px;
  background-color: hsl(213, 96%, 18%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#nav #confirm {
  background-color: hsl(243, 100%, 62%);
}
#nav a {
  position: relative;
  top: 5px;
}

#step4 #addon-row, #step4 .total-check, #step4 #plan-check {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px;
}
#step4 #plan-check {
  border-bottom: 1px solid lightgrey;
}
#step4 #light {
  font-size: 12px;
}

#blue {
  color: hsl(243, 100%, 62%);
  font-size: 16px;
}

#step5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 10px;
  text-align: center;
}
#step5 p {
  font-size: 18px;
}
#step5 img {
  height: 60px;
  width: 60px;
}

[type=hidden] {
  display: none !important;
}

@media (min-width: 720px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #e9f4ff;
    height: 100%;
    width: 100%;
  }
  .main-container {
    display: grid;
    grid-template-rows: 1.6fr 0.3fr;
    grid-template-columns: 0.4fr 1fr;
    box-shadow: 0px 0px 100px -3px rgba(0, 0, 0, 0.1);
    width: 60%;
    height: 70%;
    max-height: 560px;
    max-width: 840px;
    min-width: 700px;
    min-height: 540px;
    position: static;
    padding: 20px;
    flex-direction: row;
    border-radius: 10px;
    background-color: #fff;
  }
  .form-container {
    box-shadow: none;
    position: static;
    flex-direction: column;
    height: calc(100% - 40px);
    width: 78%;
    padding: 0px 12%;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    min-width: 200px;
    background-image: url("assets/images/bg-sidebar-desktop.svg");
    padding: 20px;
    position: static;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
  }
  .sidebar .one, .sidebar .two, .sidebar .three, .sidebar .four {
    margin: 0px;
  }
  #sidebar-text {
    display: block;
  }
  .sidebar-module {
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
  }
  .sidebar-text {
    padding-left: 20px;
    margin: 0;
  }
  .sidebar-text h2 {
    font-family: Ubuntu-bold;
    color: #fff;
  }
  .sidebar-text p {
    font-size: 12px;
    color: #ddd;
  }
  #nav {
    position: static;
  }
}
#change {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
