@font-face {
  font-family: Ubuntu-Medium;
  src: url("assets/fonts/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: Ubuntu-Bold;
  src: url("assets/fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: Ubuntu-Regular;
  src: url("assets/fonts/Ubuntu-Regular.ttf");
}
* {
  font-family: Ubuntu-Regular;
  box-sizing: inherit;
  margin: 0px;
  margin: inherit;
}

h1 {
  color: hsl(213, 96%, 18%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-family: Ubuntu-Bold, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: hsl(213, 96%, 18%);
}

#step1 h2 {
  font-family: Ubuntu-Regular;
}

#bold {
  font-size: 16px;
  font-family: Ubuntu-Bold;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  top: 0px;
  bottom: 0px;
  top: 0px;
  position: absolute;
  background-color: hsl(206, 94%, 87%);
}

#sidebar-text {
  display: none;
}

.sidebar {
  font-family: Ubuntu-Medium;
  font-weight: 770;
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
}
.sidebar button {
  color: hsl(0, 0%, 100%);
  border: solid 2px;
  height: 35px;
  width: 35px;
  margin: 40px 5px;
  border-radius: 50%;
  padding: 0px;
  background: none;
}
.sidebar [current=true] {
  background-color: hsl(206, 94%, 87%);
  border-color: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
}

.form-container {
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 120px;
  width: 80%;
  align-self: center;
  background-color: hsl(0, 0%, 100%);
  display: flex;
}

h1, h2, p {
  margin: 0px;
}

#text p {
  font-size: 12px;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-content > * {
  padding: 10px 0px;
}
.form-content #checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15px;
  width: 15px;
  border-radius: 3px;
  border: 1px solid lightgrey;
}
.form-content #checkbox img {
  height: 10px;
  width: 10px;
}
.form-content #check, .form-content #checked {
  display: flex;
  flex-direction: center;
  justify-content: row;
  align-items: flex-start;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background: none;
  padding: 10px 10px;
  margin: 10px 0px;
}
.form-content #checked {
  border: 1px solid hsl(213, 96%, 18%);
}
.form-content #check div, .form-content #checked div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.form-content #check img, .form-content #checked img {
  padding-right: 10px;
}
.form-content #check div > *, .form-content #checked div > * {
  padding: 2px 0px;
}
.form-content label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background: none;
  height: 40px;
}
.form-content [type=text], .form-content [type=email], .form-content [type=tel] {
  padding: 10px;
  width: calc(100% - 20px);
}

.toggle-area {
  height: 50px;
  display: flex;
  flex-direction: row;
  padding: 0px 50px;
  justify-content: space-between;
  align-items: center;
  transition: justify-content 0.5s ease;
}
.toggle-area #toggle {
  display: flex;
  border-radius: 12px;
  height: 16px;
  padding: 3px;
  width: 35px;
  background-color: hsl(213, 96%, 18%);
  justify-content: flex-start;
}
.toggle-area #toggle #bob {
  align-self: center;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background-color: #fff;
}

#nav {
  position: fixed;
  width: calc(100% - 40px);
  margin: 0px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#nav button {
  padding: 10px 20px;
  background-color: hsl(213, 96%, 18%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 5px;
}
#nav a {
  position: relative;
  top: 5px;
}

[type=hidden] {
  display: none;
}

/*# sourceMappingURL=style.css.map */
